.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    padding: 10px;
  }

.row {
    border: solid 3px black;
    height: 140px;

    .col {
        text-align: center;
        
        p {
            font-family: 'Irish Grover', cursive;
            font-size: 50px;
            margin-top: 50px;
        }
    }

    .separator { 
        border-right: solid 3px black;
        border-left: solid 3px black;        
    }
}

.alert {
    text-align: center;
    
    h1, p {
        font-family: 'Irish Grover', cursive;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        color: black;
    }
}

.jogador-vencedor {
    font-size: 35px !important;
    color: green !important;
}

.reiniciar-jogo {
    text-decoration: underline !important;
    color: blue !important;
    font-size: 25px !important;
}

.col-x {
    background-color: #04DAFA;
    color: white;
}

.col-o {
    background-color: #D599F9;
    color: white;
}

.border-bottom-none {
    border-bottom: none;
}

.border-top-none {
    border-top: none;
}

.border-left-none {
    border-left: none;
}

.border-right-none {
    border-right: none;
}

.text-center {
    font-family: 'Irish Grover', cursive;
    font-size: 20px;
}

.bg-success {
    color: #FFFFFF;
}